<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moringa Tribune</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'newsToday' %}"
        >The Moringa Tribune</a
      >
      {% if user.is_authenticated %}
      <ul>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle btn btn-default text-white"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{%url 'newsToday'%}">Home</a>
            </li>
            <li>
              <a href="#">{{user}}</a>
            </li>
            <li>
              <a href="{%url 'new-article'%}">Create Article</a>
            </li>
            <li>
              <a href="/accounts/password_change">Change Password</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li>
        <a class="btn btn-default" href="/accounts/login">Login</a>
      </li>

      {% endif %}

      <form
        class="navbar-form mr-3"
        role="search"
        action="{% url 'search_results' %}"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Article"
            name="article"
          />
          <div class="input-group-btn">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </div>
        </div>
      </form>
    </nav>
  </body>
</html>

<!-- 
          > -->

<!--  -->

<!-- 
      -->
